# 0. Card Metadata

**Creation Date** *(required)*  
{{ card_metadata_card_creation_date | default("YYYY/MM/DD") }}

---

## Versioning

**Version Number** *(required)*: `{{ card_metadata_version_number | default("0.00") }}`
**Version Changes** *(required)*: {{ card_metadata_version_changes | default("") }}

---

**DOI**: {{ card_metadata_doi | default("") }}
