# 0. Card Metadata

**Creation Date**: {{ card_metadata_card_creation_date | default("YYYY/MM/DD") }}

---

## Versioning

**Version Number**: `{{ card_metadata_version_number | default("0.00") }}`
**Version Changes**: {{ card_metadata_version_changes | default("") }}

---

**DOI**: {{ card_metadata_doi | default("") }}
